th, td {text-align: center;} 

table{
  border-collapse: collapse;
  min-width: 50%;
  background-color: whitesmoke;
  height: 80%;
}
.btn-success{
  background-color:  green;
  margin: 4px 2px;
  padding: 5px 15px;
  border-radius: 50%;
  border: 2px solid black;
}
.btn-danger{
  background-color: firebrick;
  margin: 4px 2px;
  padding: 5px 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.btn-clear{
  background-color: gray;
  margin: 4px 2px;
  padding: 5px 15px;
  border: 2px solid black;
}

.btn-success, .btn-danger, .btn-clear{
  transition-duration: .4s;
}

.btn-success:hover {
  background-color: lawngreen;
  color: white;
}



.btn-clear:hover {
  background-color: lightgray;
  color: white;
}



.btn-danger:hover {
  background-color: red;
  color: white;
}

tr{
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  border-right: 1pt solid black;
  border-top: 1pt solid black;
}

td{
  width: 10px;
}

#table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

table tr:last-child {
  font-weight: bold;  
}
table tr:first-child{
  font-weight: bold;
}

tr:nth-child(20n) {
  background-color: silver;
  font-weight: bold;
  font-size: large;
}
tr:nth-child(1) {
  background-color: lightslategray;
  font-weight: bold;
  font-size: large;
}

td:nth-child(2){
  font-weight: bold;
  border-right: 1pt solid black;
}